html,
body {
    height: 100%;
    background-color:#c9c3c3;
    background-position: center;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.main-menu{
    width:100%;
}
#brand{
    float:left;
}
.main-menu ul{
    list-style:none;
    width:1170px;
    margin: 0 auto;
    background-color:rgba(0,0,0, .2);
    box-shadow:inset 0 -10px 10px rgba(255,255,255, .3),inset 0 10px 10px rgba(255,255,255, .3);
    border:3px solid rgba(255,255,255, 0.4);
    height:70px;
}
.main-menu li{
    float:right;
    display:inline-block;
}
.main-menu a{
    color:white;
    font-size:20px;
    padding:18px;
    display:block;
    text-decoration: none;
    cursor:pointer;
}
.main-menu a:hover{
    background-image:linear-gradient(to top, rgba(0, 17, 40, 1) 60%, rgba(0, 17, 40, .5) 80%), linear-gradient(120deg, rgba(0, 17, 40, 0.9) 40%, rgba(255, 255, 255, 0.3) 60%);
    border-radius:3px;
}

.display-none{
    display:none;
}
/* feed-line*/
.feed-line{
    margin: 0 auto;
    width:70%;
    background-color:white;
    padding:40px;
}
.feed-line article{
    margin-bottom:20px;
}
.feed-img{
    width:100%;
}
.feed-img img{
    width:100%;
    object-fit: cover;
    object-position: center;
}
.feed-autor{
    margin-bottom:10px;
}
.feed-autor img{
    width:80px;
    height:80px;
    border-radius:50%;
}
#more-feeds{
    display:block;
    width:100px;
    padding:10px;
    text-decoration: none;
    font-size:20px;
    margin:0 auto;
    cursor:pointer;
    border-radius:3px;
    text-align: center;
    background-image:linear-gradient(to top, rgba(0, 17, 40, 1) 60%, rgba(0, 17, 40, .5) 80%), linear-gradient(120deg, rgba(0, 17, 40, 0.9) 40%, rgba(255, 255, 255, 0.3) 60%);
    color:white;
}
#more-feeds:hover{
    animation-name:vibro;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes vibro{
    0%{
        
    }
    5%{
        transform:rotate(15deg);
    }
    10%{
        transform:rotate(-15deg);
    }
    30%{
        transform:rotate(0deg);
    }
    80%{
        transform:rotate(0deg);
    }
}
#more-feeds i{
    font-size:50px;
}
/* feed-line */
/* user profile */
.main-avatar{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
}
.user-info{
    width:30%;
}
.about-user{
    width:70%;
    float:right;
}
.user-profile{
    width:900px;
    margin:0 auto;
    padding:10px;
    object-fit:cover;
}
.user-info, about-user{
    display:inline-block;
    box-sizing:border-box;
}
.user-username{
    padding-left:30px;
    width:300px;
}
.user-info p{
    width:70%;
    float:right;
    margin-top:50px;
}
/* posts */
.posts{
    margin:30px auto 0 auto;
    width:900px;
    padding:20px 40px;
    background-color:#f2f2f2;
}
.post{
    margin:0;
    padding:0;
    width:200px;
    height:180px;
    display:inline-block;
}
.post img{
    width:100%;
    cursor:pointer;
    border-radius:2px;
    transition:0.1s;
    object-fit: cover;
}
.post img:hover{
    transform:scale(1.2);
    transition:0.4s;
}

.post-img{
    width:75%;
    display:inline-block;
}
.post-img img{
    width:100%;
}
.post-view{
    width:80%;
    position:fixed;
    height:100%;
    background-color:rgba(0,0,0,.7);
    top:0px;
    left:170px;
    border-radius:4px;
    display:none;
    box-sizing: border-box;
    z-index:4;
}
.pages{
    width:100%;
}
.post-big-img{
    height:627px;
    width:900px;
    margin:0 auto;
}
.post-big-img img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.close-post-view, .close-friends-view{
    position: absolute;
    right:40px;
    top:20px;
    font-size:40px;
    cursor:pointer;
    color:rgba(0,0,0,.6);
}
.close-post-view:hover, .close-friends-view:hover{
    color:rgba(0,0,0,.8);
    transform:scale(1.2);
}
.post-info{
    width:100%;
    font-size: 20px;
    padding:10px 225px;
    background-color:#fff;
    vertical-align: middle;
    border:2px solid rgba(0,0,0,.7);
    border-top:0px solid white;
    border-radius: 0 0 5px 5px;
}
.post-info .description{
    text-align: center;
}
.post-info .fa-heart{
    font-size:25px;
}
.post-info a{
    display:inline-block;
    margin-left:6px;
}
.modal-window{
    display:none;
    width:80%;
    position:fixed;
    height:100%;
    background-color:rgba(0,0,0,.7);
    top:0;
    left:170px;
    border-radius:4px;
    display:none;
    box-sizing: border-box;
    z-index:4;
}
.friends-list-avatar{
    width:70px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
}
.friends{
    height:627px;
    width:900px;
    margin:0 auto;
    background-color:white;
    padding:20px 50px;
    height:100%;
    overflow:scroll;
}
.friends ul{
    margin-left:20px;
    list-style:none;
}
/* user-profile*/